@import "stars";

$gold: #FFD700;

@mixin sky-bg {
  background: linear-gradient(to bottom, #090A0F 0%, #1B2735 100%);
}

.App {
  position: relative;
}

.App-header {
  @include sky-bg;
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

.stars-layer1 {
  @include stars(2000, 1.5px, twinkle_layer1);
}

.stars-layer2 {
  @include stars(1200, 2px, twinkle_layer2);
}

.stars-layer3 {
  @include stars(600, 3px, twinkle_layer3);
}

.text-after-timeout {
  width: 100%;
  font-size: 0;
  color: #FFF;
  text-shadow: 3px 3px 0 $gold,
  -1px -1px 0 $gold,
  1px -1px 0 $gold,
  -1px 1px 0 $gold,
  1px 1px 0 $gold;
  border-radius: 10%;

  // center itself
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  // hide
  transition: font-size 500ms ease-out;
}

.text-after-timeout.show {
  font-size: 10vh;
  transition: font-size 500ms ease-in;
}