@import "stars";

$until2019-color: #47525E;

@mixin sky-bg {
  background: linear-gradient(to bottom, #090A0F 0%, #1B2735 100%);
}

.App {
  position: relative;
}

.App-header {
  @include sky-bg;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.stars-layer1 {
  @include stars(2000, 1.5px, twinkle_layer1);
}

.stars-layer2 {
  @include stars(1200, 2px, twinkle_layer2);
}

.stars-layer3 {
  @include stars(600, 3px, twinkle_layer3);
}

.until2019 {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 10vw;
  color: $until2019-color;
}